form{
	width: 300px;
	margin: 20px auto;
}

input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #ccc;
	font-size: 20px;
	width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	outline: none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius: 5px;
}

input[type=submit]{
	background: none;
	padding: 10px;
}

.label{
	float: left;
	width: 120px;
}
.infobox{
	width: 200px;

}

.error{
	color: red;
	padding-left: 10px;
}
