/**/
/* line 5, ../sass/styles.scss */
body { background: white; font-color: #333333; width: 960px; }
/* line 11, ../sass/styles.scss */
body .color h1 { color: #402626; font-size: 24px; }
/* line 18, ../sass/styles.scss */
body .color h2 { color: gray; font-size: 48px; }
/* line 24, ../sass/styles.scss */
body .color h3 { color: #404040; font-size: 72px; }
/* line 30, ../sass/styles.scss */
body .color h4 { color: #9f2020; font-size: 96px; }
/* line 36, ../sass/styles.scss */
body .color h5 { color: #999999; font-size: 120px; }
/* line 42, ../sass/styles.scss */
body .color h6 { color: #f6f6f6; font-size: 144px; }
