/*START: type style*/
body{
	color: #333;
	font-size: 16px;
	font-family: Arial,"Monaco",sans-serif;
}
#container{
	margin: 0 auto;
	max-width: 960px;
}

#container header{
	background: #000;
	border-bottom: 1px solid #555;
	padding: 10px;
	text-align: center;
}

#container header h1{
	font-size: 4em;
	margin: 0;
}

#container header p{
	font-size: 2em;
	margin: 1;
}

#container #content article{
	background: #FFF;
	border-bottom: 2px solid #CCC;
}

#container footer{
	background: #CCC;
}

@media screen and (max-width: 960px){
	/*Default*/
} 
@media screen and (max-width: 650px){
	#container header h1{
		font-size: 1em;
		color: red;
	}

	#container header p{
		font-size: 0.5em;
		color: blue;
	}
} 
@media (min-width: 321px) and (max-width: 480px){
	#container header{
		background: #232323;
		border-bottom: 1px solid #222;
		padding: 5px;
		text-align: center;
	}

	#container #content article h2{
		font-size: 0.4em;
		color: #ABCD11;
		/*border-bottom: 2px solid #CCC;*/
	}

	#container footer{
		color: red;
	}
} 