/**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: white;
  font-color: #333333;
  width: 960px; }
  body .color h1 {
    color: #402626;
    font-size: 24px; }
  body .color h2 {
    color: gray;
    font-size: 48px; }
  body .color h3 {
    color: #404040;
    font-size: 72px; }
  body .color h4 {
    color: #9f2020;
    font-size: 96px; }
  body .color h5 {
    color: #999999;
    font-size: 120px; }
  body .color h6 {
    color: #f6f6f6;
    font-size: 144px; }
  body header {
    -webkit-border-radius: 2px 4px;
    -khtml-border-radius: 2px 4px;
    -moz-border-radius: 2px 4px;
    -o-border-radius: 2px 4px;
    border-radius: 2px 4px; }
