/*START: type style*/
body{
	width:960px;
	margin: 15px auto;
	font-family: Arial,"MS Trebuchet",sans-serif;
}
p{
	margin:0 0 20px 0;
}
p,li{/*A los elementos p y a los elementos li aplica*/
	line-height: 20px;
}

/*END: type style*/

/*START: header style*/
header#page-header{/*Dentro del header con ese id y solo se aplica a ese*/
	width:100%;
}
header#page-header nave ul, footer#page-footer nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header#page-header nav ul li, footer#page-footer nav ul li{
	display: inline;
	padding: 0;
	margin: 0px 20px 0 0;
	
}

section#posts{
	float:left;
	width:74%;
}

section#posts aside{
	float: right;
	width:35%;
	margin-left: 5%;
	font-size: 0.5em;
	line-height: 40px;
}
/*END: posts-style*/

/*START: sidebar-style*/
section#sidebar{
	float:left;
	width:25%;
}
/*END: sidebar-style*/
/*START: footer-style*/
footer#page-footer{
	clear:both;
	width: 100%;
}
/**/