//Definiendo variables
/*
$pages_width:960px;
$half_pages:$pages_width / 2;
$multiplied_pages:$pages_width * 2;
$sum_pages:$pages_width + 200;
$minus_page:$pages_width - 200;

$color_font:#333;
$color_white:white;
$color_red: red;
$color_green: green;

$font_size_h1:24px;
$font_size_h2:$font_size_h1 * 2;
$font_size_h3:$font_size_h1 * 3;
$font_size_h4:$font_size_h1 * 4;
$font_size_h5:$font_size_h1 * 5;
$font_size_h6:$font_size_h1 * 6;
*/

$color_headers_color:#333;
$background_color_header: #3a3f43;
$background_color_logo:#515558;
