<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/style.css"></style>
		<script type="text/javascript" src="javascripts/jquery-1.11.1.min.js "></script>
		<script type="text/javascript" src="javascripts/lab8-5.js"></script>
	</head>
	<body>
		<h1>{{name}}</h1>
		<a href="register">Ingresar Pedido usuario</a>
	</body>
</html>