<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/style.css"></style>
		<script type="text/javascript" src="javascripts/jquery-1.11.1.min.js "></script>
		<script type="text/javascript" src="javascripts/lab8-5.js"></script>
	</head>
	<body>

		<h1>{{name}}</h1>
		<form action="/ok" method="POST">

			<fieldset>
				<legend>Información General</legend>
				<fieldset>
					<div id="userinfo">
						<span class="label">Documento de Identidad</span>
						<input type="text" id="nid" name="nid">
						<span class ="nid-error"></span>

						<span class ="label"> Nombre(s) y Apellido(s) </span>
						<input type="text" id="username" name="username">
						<span class ="user-error"></span>
					</div>
				</fieldset>
				<fieldset>
					<div id="user">
						<span class="label">Password</span>
						<input type="password" class="password" name="password">
						<span class ="password-error"></span>

						<span class ="label">Confirmar password</span>
						<input type="password" class="conf-password" name="conf-password">

						<span class ="conf-password-error"></span>
					</div>
					<div>
						<span class="label">Email</span>
						<input type="text" class="emailadd" name="emailadd">
						<span class ="email-error"></span>
					</div>
				</fieldset>
				<fieldset>
					<div id="checkboxes">
						<span class="label">Seleccionar Alimentos</span><br>
						<input type="checkbox" id="pizza" name="pizza" value =5000 class="chkb">Pizza $5000<br>
						<input type="checkbox" id="hotdog" name="hotdog" value =2000 class="chkb">Pizza $2000<br>
						<input type="checkbox" id="coke" name="coke" value =3000 class="chkb">Pizza $3000<br>
						<input type="checkbox" id="fries" name="fries" value =2000 class="chkb">Pizza $2000<br>
						<span class="food-error"></span><br/>
						<span class="food-total"></span>

					</div>
				</fieldset>
				<fieldset>
					<div id="radios">
						<span class="label">Modo de pago</span><br>
						<input type="radio" name="paymode" value ="Master Card" class="radiobtn">Master Card<br>
						<input type="radio" name="paymode" value ="Visa Card" class="radiobtn">Master Card<br>
						<span class="pay-error">Modo de pago</span><br>
						
					</div>
				</fieldset>
				<fieldset>
					<div>
						<span class="label">Ciudad</span><br>
						<select id="city" class="infobox">
							<option value ="0">Seleccione una ciudad </option>
							<option value ="Barranquilla">Barranquilla </option>
							<option value ="Bogotá">Bogotá </option>
							<option value ="Cali">Cali </option>
							<option value ="Cartagena">Cartagena </option>
							<option value ="Medellín">Medellín </option>

						</select><br/>
						<span class ="city-error"></span>
						
					</div>
				</fieldset>
				<div id="buttons">
					<input type="submit" class="button" value="enviar">Enviar</button>

				</div>
				
				<a id="info" href="#openModal">Ver detalle del pedido</a>
			</fieldset>


			
		</form>

		<div id="openModal" class="modalDialog">
			
		</div>

	</body>
</html>