div{
	padding: 5px;
}

form{
	width: 500px;
	margin:20px auto;
}

input{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #ccc;
	font-size: 18px;
	width: 350px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	outline: none;

	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius: 5px;
}

.button, a{
	background-color: blue;
	padding: 10px;
	color: white;

	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius: 5px;	
}

.chkb{
	margin-left: 10px;
	margin-top: 10px;
}

.label{
	float: left;
	width: 300px;
}

.error{
	border:1px solid red;
	background-color: rgba(255,0,0,0.1);
}

.success{
	border:1px solid green;
	background-color: rgba(0,255,0,0.1);
}

.info{
	display:none;
}

.nid-error, .user-error, .password-error, .conf-password-error,.email-error,.food-error,.pay-error,.city-error{
	color: red;
	padding-left: 10px;
	border-color: red;
	background-color: rgba(255,0,0,0,0.1);
}

.radiobtn{
	margin-left: 25px;
	margin-top: 10px;
}

.modalDialog{
	position: fixed;
	font-family: "Helvetica Neue",Arial;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0,0,0,0.8);

	z-index: 99999;
	opacity: 0;

	-webkit-transition:opacity 400ms easy-in;
	-moz-transition:opacity 400ms ease-in;
	transition:opacity 400ms ease-in;

	pointer-events:none;
}

.modalDialog:target{
	opacity: 1;
	pointer-events:auto;
}

.modalDialog>div{
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;

	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius: 10px;	

	background: #fff;
	background: -moz-linear-gradient(#fff,#ccc);
	background: -webkit-linear-gradient(#fff,#ccc);
	background: -o-linear-gradient(#fff,#ccc);
}

.close{
	background: #606061;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold; 

	-webkit-border-radius:12px;
	-moz-border-radius: 12px;
	-o-border-radius:12px;
	-ms-border-radius:12px;
	border-radius: 12px;	

	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover{
	background: #00d9ff;
}