/**/
@import "_reset.scss";
@import "_variables";
@import "_border_mixin";
body{
	background: $color_white;
	font-color: $color_font;
	width:$pages_width;

	.color{
		h1{
			//saturar el color: función específica de sass
			color : saturate($color_font,25%);
			font-size: $font_size_h1;
		}


		h2{
			//función de escalar un color a grises de Sass
			color: grayscale($color_red);
			font-size: $font_size_h2;
		}

		h3{
			//Variación de la función escalar a grises de Sass
			color: desaturate($color_green,100%);
			font-size: $font_size_h3;
		}

		h4{
			//función mix para mezclar dos colores
			color: mix(desaturate($color_green,100%),$color_red);
			font-size: $font_size_h4;
		}	

		h5{
			//función mix para mezclar dos colores
			color: mix($color_white,#333);
			font-size: $font_size_h5;
		}	

		h6{
			//función mix para mezclar dos colores
			color: lighten(#555,63%);
			font-size: $font_size_h6;
		}	
	}

	header{
		@include border_mix();
	}
	

}