/**/

@import "_variables";

body{
	background: $secondary_color;
	font-color: $primary_color;
	width:$page_width;

	h1{
		font-color : red;
	}

	span{
		color: #00FF55;
		a{
			text-size:20px;
		}
	}

	h2{
		color: #778866
	}


	.aplicarverde{
		color:$green;
	}
	.aplicarrojo{
		color:$red;
	}

}